/* ==========================================
   TABLE CARD
========================================== */

.patient-table-card {
    background: white;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,.05);
}

/* ==========================================
   TABLE
========================================== */

.patient-table {
    width: 100%;
    min-width: 1050px;
    border-collapse: collapse;
}
    /* ==========================================
   HEADER
========================================== */

    .patient-table thead {
        background: #F8FAFC;
    }

    .patient-table th {
        padding: 16px;
        text-align: left;
        font-size: 13px;
        font-weight: 600;
        color: #6B7280;
        border-bottom: 1px solid #E5E7EB;
    }

    /* ==========================================
   ROWS
========================================== */

    .patient-table td {
        padding: 18px 16px;
        font-size: 14px;
        color: #374151;
        border-bottom: 1px solid #F1F5F9;
        white-space: nowrap;
    }

    .patient-table tbody tr {
        transition: .2s;
    }

        .patient-table tbody tr:hover {
            background: #F9FAFB;
        }


.clickable-row {
    cursor: pointer;
    transition: background-color .2s ease;
}

.clickable-row:hover td{
    background:#f5fdf7;
}

/* ==========================================
   TABLE WRAPPER
========================================== */

.patient-table-wrapper {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: auto;
}

.patient-table thead th {
    position: sticky;
    top: 0;
    background: #F8FAFC;
    z-index: 5;
}